.List {
    display: flex;
    justify-content: space-evenly;
    padding-top: 32px;
    flex-wrap: wrap;
    gap: 30px;
}

.List #wrapper {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;

}

#noVacations {
    color: red;
    font-weight: bold;
}